.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select {
  width: 100%;
}

.sectionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  background: #fff;
  color: #000;
}
